
p{
    line-height: 2;
    color: #11999e
}
body{ color: #40510e;
    font-family: 'Merriweather', serif ;    
    margin: 0;
    text-align: center;
    f
}
img{
    border-radius: 50%;
}
h1{line-height: 2;
     color: #2f6363 ;
    font-size: 5.526rem;
    font-family: 'Sacramento', cursive;
    margin-top: 50px auto 0 auto;
}
h2{ font-size: 2.5rem;
    font-weight: normal;
    color: #66bfbf;
    padding-bottom: 10px;
}
h3{
    color: #11999e ;
    font-family: 'montserat', sans-serif;
}

.Physio{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: normal;
    text-decoration: underline;   
}
.top-container{
    background-color: rgb(109, 200, 225);
    position: relative;
    padding-top: 100px;
    margin: auto;   
}
hr{
    border: dotted #eaf6f6 8px;
    border-bottom: none;
    width: 80px;
    margin: 50px auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;   
}
.chilli-row{
        width: 55%;
        margin-right: 100px auto 100px auto;
        margin:auto;
        text-align: right;
}
.skill-img{
    width: 35%;
    float: left;
    margin-right: 60PX;
    text-align: right;
}
.chilli-img{
    width: 35%;
    float: right;
    margin-left: 30px;
    text-align: left;
}
.middle-container{
margin: 100px 0;
 }
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
a{
    color: #12797c;
    font-family: 'montserat', sans-serif;
    margin: 10px 15px;
}
.intro{
    width: 30%;
    margin: auto;
}

.bottom-cloud{
    position: relative;
    left: 250px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 250px;
    top: 80px;
    
}
.con{
width: 40%;
margin: 40px auto 60px;
}
a:hover{
    color: #eaf6f6;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f1f3f1;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .Copyright{
    color: #eaf6f6;
    padding: 20px 0;
  }